
:root{
    --numberSquares: 348px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
    background-color: #E8E7EC;
}
.contenGame{
    min-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    width: 700px;
    height: 700px;
    flex-wrap: wrap;
    background-color: #ffffff;
   
}

.divElement{
    border: 1px solid rgb(238, 238, 238);
    width: var(--numberSquares);
    height: var(--numberSquares);
    box-sizing: border-box;
    border-radius: 1px;
    box-shadow: 0 0 10px #5c5d5e6e;
}

.contentContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}   

.contentButtons{
    display: flex;
    margin: 0 100px;
    gap: 10px;
   
}
h1{
    color: #1e5785;
}

.divElementColor{
    background-color: rgb(10, 49, 49);
}

.buttons{
    	font-size: clamp(0.5rem, 5vw, 1.1rem);
		padding: clamp(0.1rem, 0.1vw, 0.1rem) ;
		width: 150px;	
		height: 50px;
		text-align: center;
		border: 0;
		border-radius: 25px;
		background-color: #F15151;
		color: white;
		font-weight: 700;
		font-family: Calibri, 'Trebuchet MS', sans-serif;
		box-sizing: border-box;
        box-shadow: 0 0 10px #5c5d5e6e;
        cursor: pointer;
}